* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: auto;
    background-color: #363199;
    color: white;
}

.top h3 {
    text-align: center;
    font-weight: 100;
    padding: 5px 20px;
}

.navbar {
    display: flex;
    background-color: #fefefeec;
    border-left: #363199 2px solid;
    border-right: #363199 2px solid;
    border-bottom: #363199 2px solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 5px 4%;
    align-items: center;
    z-index: 1000;
}

.nav-options a {
    text-decoration: none;
    font-size: 1.1em;
    color: #363199;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 4px 7px;
    margin: 0 2px;
    transition: all 0.4s ease-in-out;
}

.nav-options a:hover {
    border: 2px solid #363199;
}

#active-page {
    border: 2px solid #363199;
}

.logo {
    width: 45px;
    height: 45px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar2 {
    display: none;
}

@media(max-width:1055px) {
    .navbar {
        display: none;
    }

    .navbar2 {
        display: flex;
        background-color: #fefefeec;
        border-left: #363199 2px solid;
        border-right: #363199 2px solid;
        border-bottom: #363199 2px solid;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        position: sticky;
        top: 0;
        justify-content: space-between;
        padding: 5px 4%;
        align-items: center;
        z-index: 1000;
    }

    .navbar2 i {
        font-size: 1.4em;
    }

    .nav-logo {
        width: 40px;
        height: 40px;
    }

    .nav-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.video {
    width: 100%;
    position: relative;
    height: 85vh;
    z-index: 10;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vidtex {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    z-index: 11;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vidtex .tex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vidtex .tex2 {
    text-align: center;
}

.vidtex button {
    border: 2px solid black;
    border-radius: 999px;
    padding: 5px 10px;
    background-color: transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.vidtex button:hover {
    border: 2px solid #363199;
    color: #363199;
}

.vidtex .tex1 h2 {
    font-size: 2em;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: lightgray;
    padding: 15px 6px;
    gap: 30px;
}

.three {
    flex: 1 1 0;
    max-width: 360px;
    border-radius: 5px;
    max-height: 700px;
    aspect-ratio: 4/5;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding: 18px 12px;
}

.on-img {
    width: 90%;
    height: auto;
    display: flex;
}

.on-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    margin: auto;
}

.three h2 {
    font-weight: 400;
    color: #363199;
}

.three h3 {
    text-align: center;
    color: #575757;
    font-weight: 100;
}

@media (max-width: 1020px) {
    .three {
        flex: 0 0 47%;
        max-width: 47%;
        padding: 6px 10px;
    }
    .on-img{
        width: 70%;
    }
}

@media (max-width: 765px) {
    .three {
        flex: 0 0 80%;
        max-width: 80%;
    }
}
@media(max-width:450px){
    .three h3{
        font-size: 1em;
    }
}

@media (max-width: 1000px) {
    .vidtex .tex1 h2 {
        font-size: 1.65em;
    }
}

@media (max-width: 768px) {
    .video {
        height: 60vh;
    }

    .vidtex .tex1 h2 {
        font-size: 1.48em;
    }

    .vidtex .tex2 h3 {
        font-size: 1.1em;
    }

    .vidtex button {
        font-size: 0.85em;
    }
}


.marquee {
    width: 100%;
    overflow: hidden;
    background: #363199;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}

.marquee span {
    display: inline-block;
    padding-right: 50px;
    animation: scroll 11s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    /* start off right */
    100% {
        transform: translateX(-100%);
    }

    /* exit left */
}

.main {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}


.Our-Products {
    width: 93%;
    height: auto;
    padding: 3% 0;
    background-color: lightgray;
    margin: auto;
}

.Our-Products h1 {
    margin-bottom: 2%;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.swiper-slide {
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4/5;   /* controls proportion */
    height: auto;        /* allow auto-resize */
    max-height: 600px;   /* optional: cap maximum size */
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    box-sizing: border-box;
    gap: 10px;
}


.swiper-slide h1 {
    text-decoration: underline;
    text-decoration-color: #363199;
}

.swiper-slide h2 {
    color: rgba(0, 0, 0, 0.699);
    font-weight: 100;
}

.swiper-slide button {
    border-radius: 999px;
    padding: 6px 12px;
    outline: none;
    border: #363199 2px solid;
    color: #363199;
    background-color: white;
    margin: 4% 0;
    transition: all 0.3s ease;
}

.swiper-slide button:hover {
    transform: scale(1.04);
    opacity: 0.8;
}

.swiper-slide img {
    display: block;
    width: 70%;
    max-height: 50%;   /* image won’t overflow */
    object-fit: contain; 
}

@media (max-width: 768px) {
  .swiper-slide {
    max-height: 600px;
  }
}

@media (max-width: 480px) {
  .swiper-slide {
    max-height: 600px;
  }
}

.vid-map {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #36319952;
    padding-bottom: 40px;
}

.vid-map video {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.maptex {
    padding: 5px 0;
    background-color: #36319952;
}

.maptex h1 {
    margin: auto;
    text-align: center;
}
@media (max-width: 768px) {
  .vid-map video{
    width: 100%;
  }
}

.email {
    width: 80%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
}


.email input {
    flex-grow: 1;
    outline: none;
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    padding: 16px 0;
}

.email input::placeholder {
    color: #363199;
    font-size: 1.3em;
    font-weight: 500;
}

.email button {
    border-radius: 999px;
    background-color: #363199;
    color: white;
    outline: none;
    border: none;
    padding: 15px 25px;
}

.email h1 {
    color: #363199;
    font-weight: 700;
}

@media(max-width:900px) {
    .email {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .email input {
        flex-grow: 1;
        width: 85%;
        margin: 20px 0;
    }

}

.foot {
    background-color: #363199;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.foot h4 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 0 6px;
}

.foot-opt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 1.2em;
}

.foot-opt a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 3px 12px;
    transition: all 0.4s ease;
}

.foot-opt a:hover {
    border: 2px solid white;
}

.foot-img {
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: auto;
    padding: 5px 5px;
}

.foot-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.float-btns {
  position: fixed;
  right:17px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10000;
}

.up,
.mess {
  background-color: #363199;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.up {
  display: none; /* only shown on scroll */
}

.up i,
.mess i {
  font-size: 1.35em;
  color: white;
}

@media(max-width:900px){
    .up i,
.mess i {
  font-size: 1em;
}
.float-btns{
    bottom: 160px;
}
}

.sidebar{
    display: none;
}

@media(max-width:1055px){
    .sidebar {
        background-color: black;
        display: flex;
        position: absolute;
        z-index: 10000000000000;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.7s;
        left: -1300px;
        width: 100%;
        height: 90vh;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        margin: 0 35px;
        font-weight: 600;
        font-size: 1.2em;
    }

    .showsidebar {
        left: 0;
    }
}